{
    "plugins": ["react", "prettier"],
    "extends": ["react-app", "airbnb", "prettier", "react-app/jest"],
    "rules": {
      "import/order": [
        "error",
        {
          "groups": ["builtin", "external", "internal"],
          "pathGroups": [
            {
              "pattern": "react",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": ["react"],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ],
      "import/prefer-default-export": "off",
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true
        }
      ],
      "react/jsx-filename-extension": [
        "warn",
        {
          "extensions": [".js", ".jsx"]
        }
      ]
    }
  }